Package: rocm-utils
Version: 3.9.0.30900-17
Section: devel
Priority: optional
Architecture: amd64
Depends: rocminfo, rocm-clang-ocl
Homepage: https://github.com/RadeonOpenCompute/ROCm
Installed-Size: 13
Maintainer: Advanced Micro Devices Inc.
Description: Radeon Open Compute (ROCm) Runtime software stack

