Architecture: amd64
Depends: rocminfo, rocm-clang-ocl
Description: Radeon Open Compute (ROCm) Runtime software stack
Homepage: https://github.com/RadeonOpenCompute/ROCm
Maintainer: Advanced Micro Devices, Inc.
Package: rocm-utils
Priority: optional
Section: devel
Version: 5.1.0.50100-36
Installed-Size: 13

