Package: rock-dkms
Version: 1:5.1-36
Architecture: all
Maintainer: Advanced Micro Devices (AMD) <gpudriverdevsupport@amd.com>
Installed-Size: 193938
Pre-Depends: rock-dkms-firmware (= 1:5.1-36)
Depends: dkms (>= 1.95), libc-dev | libc6-dev
Section: misc
Priority: optional
Description: amdgpu driver in DKMS format.

