Architecture: amd64
Depends: 
Description: Radeon Open Compute (ROCm) Runtime software stack
Homepage: https://github.com/RadeonOpenCompute/ROCm
Maintainer: Advanced Micro Devices, Inc.
Package: rocm-core
Priority: optional
Section: devel
Version: 5.0.0.50000-49
Installed-Size: 13
