Package: rocm-dev
Version: 4.0.0.40000-23
Section: devel
Priority: optional
Architecture: amd64
Depends: hsa-rocr-dev, rocm-device-libs, rocm-utils, llvm-amdgpu, hip-base, hip-doc, hip-rocclr, hip-samples, rocm-smi, rocm-smi-lib64, hsakmt-roct, hsakmt-roct-dev, comgr, rocm-cmake, rocprofiler-dev, roctracer-dev, rocm-dbgapi
Homepage: https://github.com/RadeonOpenCompute/ROCm
Installed-Size: 13
Maintainer: Advanced Micro Devices Inc.
Description: Radeon Open Compute (ROCm) Runtime software stack

